@charset "UTF-8";

 /*
   em HTML é id     = em CSS é #
   em HTML é class  = em CSS é .
*/
body{
    background-color: rgb(205,255, 203);
}

h1{
    color: rgb (4, 109, 0);
}

h1#principal {
  text-align: center;
  background-color: rgb(4,109, 0);
  color: white;
}

h2{
    color: rgb(51,77, 49);
}

.basico{
  color: blue;
}

.intermediario{
  color: beige;
}

.avancado{
  color: brown;
}

.destaque{
  background-color: rgba(168, 168, 50, 0.527);
}