@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
   background-image: linear-gradient(to right, #D9E0E0, #D9B573, #9DBFCD);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #011640;
   text-align: center;
   text-shadow: 1px 1px 2px black ;
}

h2{
  color: #9DBFCD;
}

p {
  text-align: justify;
}
